.class1{
    font-family: "Comic Sans MS";
    font-size: 48px;
    color: cornsilk;
}

.canvas_class {
    transform: translateX(50vw);
    /*font-size: 48px;*/
}

body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;
    padding-top: 10px;

    /* This centers our sketch vertically. */
    align-items: center;
}